language: objective-c

install:
  - export ARCHS="i386"   # Only build dependencies for i386 to speed things up
  - bash ./scripts/build-all.sh
  - pod install

script:
  - xcodebuild -workspace CPAProxy.xcworkspace -scheme CPAProxyTests -sdk iphonesimulator -arch i386 test